$accentColor: rgba(255,105,0,1);
$primaryColor:hsl(334, 100%, 90%);
$boxShadowSetting: 8px 8px 24px 0px rgb(233, 227, 227);
$backgroundColor: #7D5A75;
$textShadow: 2px 2px black;


@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');