

*{
   font-family: inherit !important;
}

.modeWrapper{
   display: none;
}
.dayEvent{
   width: 100% !important;
   left: 0 !important;
   font-size: 20px;
}
.dayCell{
  
   &:hover{
      background-color: whitesmoke;
   }
}

   .calendary_position{
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      
   }
   .login_text_position{
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .true_position{
         flex-direction: row;
      }
      
      h1{
         font-size: 35px;
         margin-top: 15px;
         @include mobile{
            font-size: 25px;
         }
      }
      h2{
         font-size: 25px;
         margin-top: 15px;
      }
      p{
         margin-top: 15px;
         font-size: 20px;
      }
   }


.calendarWrapper{
   width: 95% !important;
  
   align-items: center;
   justify-content: center;
   max-width: 1400px;
  
}

