.calendarWrapper{
   letter-spacing: 0;
}
.dailyEventWrapper {
   height: 60px;
}

.dayEvent{
   width: 100% !important;
   left: 0 !important;
   font-size: 20px;
}


.calendary_position{

   width: 100%;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;
   font-family: 'Philosopher', sans-serif;
   .calendarWrapper{
      max-height: 70vh;
      width: 1100px;
   }
   .modeWrapper{
      display: none;
   }
   .calendarHeader{
      margin-bottom: 15px;
   }
   .login_text_position{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .true_position{
         flex-direction: row;
      }
      
      h1{
         font-size: 35px;
         margin-top: 15px;
      }
      h2{
         font-size: 25px;
         margin-top: 15px;
      }
      p{
         margin-top: 15px;
         font-size: 20px;
      }
   }
}



